<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>
      <ul>
      <% @contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <table>
    <tr>
      <td><b>Customer</b></td>
      <td><%= f.text_field :name %></td>
      <td><b>Start Date</b>&nbsp;&nbsp;</td>
      <td><%= f.text_field  :start_date, :class => "datepicker", :style => 'width:125px;' %></td>
      <td>&nbsp;<b>End Date</b>&nbsp;&nbsp;</td>
      <td><%= f.text_field  :end_date, :class => "datepicker1", :style => 'width:125px;' %></td>
    </tr>
    <tr>
      <td><b>Vendor</b></td>
      <td><%= f.select :vendor_id, current_user.vendor_list, {}, {:style => 'width:225px;', :class => "chosen"} %></td>
      <td><b>Vendor Price</b>&nbsp;&nbsp;</td>
      <td><%= f.text_field  :vendor_unit_price, :style => 'width:125px;' %></td>
      <td>&nbsp;<b>Customer Price</b>&nbsp;&nbsp;</td>
      <td><%= f.text_field  :customer_unit_price, :style => 'width:125px;' %></td>
    </tr>
  </table>
  </div>
  <%= f.submit :class => "action-button shadow animate blue" %>
<% end %>

<script>
  $( function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true
    });

    $( ".datepicker1" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
  } );
</script>