<p id="notice"><%= notice %></p>

<h1><%= @contract.name %>&nbsp;&nbsp;<%= link_to image_tag('back.png', :alt => 'back', :title => 'Go back'), 'javascript:window.history.back();' %></h1>
<table>
    <tr>
      <td><b>Start Date</b></td>
      <td style="width:50px;">:-</td>
      <td><%= @contract.start_date %></td>
    </tr>
    <tr>
      <td><b>End Date</b></td>
      <td>:-</td>
      <td><%= @contract.end_date %></td>
    </tr>
    <tr>
      <td><b>Customer Per PCS Price</b></td>
      <td>:-</td>
      <td><%= @contract.customer_unit_price %></td>
    </tr>
  </table>
