<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <table>
    <tr>
      <td><b>Shop Name</b></td>
      <td><%= f.text_field :shop_name, :placeholder => "Shop Name", :required => true %></td>
      <td style="width:100px;">&nbsp;&nbsp;<%= f.check_box :is_tailors, {:checked => true}, 'Tailors', '' %>&nbsp;&nbsp;&nbsp;Tailors</td>
      <td style="text-align:right;"><b>Name</b>&nbsp;&nbsp;</td>
      <td style="width:300px;"><%= f.text_field :name, :placeholder => "Name", :required => true %></td>
    </tr>
    <tr>
      <td><b>Mobile Number</b></td>
      <td colspan="2"><%= f.text_field :contact_number_1, :placeholder => "Primary Number", :required => true, :minlength=>"10", :pattern => '[0-9]{10}\b' %></td>
      <td>&nbsp;<b>Alternate Number</b>&nbsp;&nbsp;</td>
      <td><%= f.text_field :contact_number_2 %></td>
    </tr>
    <tr>
      <td><b>Complex/Building Name</b></td>
      <td colspan="4">&nbsp;&nbsp;&nbsp;<%= f.check_box :is_upstair, {}, 'Upstair :', '' %>&nbsp;&nbsp;Upstair&nbsp;&nbsp;&nbsp;&nbsp;<%= f.text_field :address_line_1, :placeholder => "Complex/Building Name", :style => "width:86.3%;" %></td>
    </tr>
    <tr>
      <td><b>Street Name</b></td>
      <td colspan="4"><%= f.radio_button :is_opposite_or_near, 'Opposite :', :style => "width:4%;" %>&nbsp;Opposite&nbsp;&nbsp;<%= f.radio_button :is_opposite_or_near, 'Near :', :style => "width:4%;" %>&nbsp;Near&nbsp;&nbsp;<%= f.radio_button :is_opposite_or_near, '', :style => "width:4%;" %><%= f.text_field :address_line_2, :placeholder => "Street Name", :style => "width:70%;" %></td>
    </tr>
    <tr>
      <td><b>Land Mark</b></td>
      <td><%= f.text_field :address_line_3, :placeholder => "Land Mark" %></td>
      <td>&nbsp;&nbsp;<%= f.check_box :is_back_side_of, {}, 'Back Side', '' %>&nbsp;&nbsp;BackSide</td>
      <td style="text-align:right;">&nbsp;<b>Pin Code</b>&nbsp;&nbsp;</td>
      <td><%= f.text_field :pin_code, :placeholder => "Pin Code", :required => true, :minlength=>"6", :pattern => '[0-9]{6}\b' %></td>
    </tr>
    <tr>
      <td><b>City</b></td>
      <td colspan="2"><%= f.text_field :city %></td>
      <td style="text-align:right;">&nbsp;<b>Taluk</b>&nbsp;&nbsp;</td>
      <td><%= f.text_field :taluk %></td>
    </tr>
    <tr>
      <td><b>District</b></td>
      <td colspan="2"><%= f.text_field :district %></td>
      <td style="text-align:right;">&nbsp;<b>State</b>&nbsp;&nbsp;</td>
      <td><%= f.text_field :state %></td>
    </tr>
    <tr>
      <td><b>Email</b></td>
      <td colspan="2"><%= f.email_field :email, :placeholder => "E-Mail" %></td>
      <td style="text-align:right;">&nbsp;<b>Web Site</b>&nbsp;&nbsp;</td>
      <td><%= f.text_field :website, :placeholder => "Web Site" %></td>
    </tr>
  </table>
  </div>
  <%= f.submit :class => "action-button shadow animate blue" %>
<% end %>
