<%= form_for(@customer,  :html => {:class => 'form-inline'}) do |f| %>
  <% if @customer.errors.any? %>
    <div class="alert alert-success" role="alert">
      <h2 class="alert-heading"><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr class="row">
      <td>Name</td>
      <td><%= f.text_field :name, :placeholder => "Name", :required => true %></td>
      <td style="width:100px;"></td>
      <td style="text-align:right;">Shop Name&nbsp;&nbsp;</td>
      <td style="width:300px;"><%= f.text_field :shop_name, :placeholder => "Shop Name", :required => true %>&nbsp;&nbsp;<%= f.check_box :is_tailors, {:checked => true}, 'Tailors', '' %>&nbsp;&nbsp;&nbsp;Tailors</td>
    </tr>
    <tr class="row">
      <td>Mobile Number</td>
      <td colspan="2"><%= f.text_field :contact_number_1, :placeholder => "Primary Number", :required => true, :minlength=>"10", :pattern => '[0-9]{10}\b', :style => "width:100%;" %></td>
      <td>&nbsp;Alternate Number&nbsp;&nbsp;</td>
      <td><%= f.text_field :contact_number_2 %></td>
    </tr>
    <tr class="row">
      <td>Complex/Building Name</td>
      <td colspan="4">&nbsp;&nbsp;&nbsp;<%= f.check_box :is_upstair, {}, 'Upstair :', '' %>&nbsp;&nbsp;Upstair&nbsp;&nbsp;&nbsp;&nbsp;<%= f.text_field :address_line_1, :placeholder => "Complex/Building Name", :style => "width:72.5%;" %></td>
    </tr>
    <tr class="row">
      <td>Street Name</td>
      <td colspan="4"><%= f.radio_button :is_opposite_or_near, 'Opposite :', :style => "width:4%;" %>&nbsp;Opposite&nbsp;&nbsp;<%= f.radio_button :is_opposite_or_near, 'Near :', :style => "width:4%;" %>&nbsp;Near&nbsp;&nbsp;<%= f.radio_button :is_opposite_or_near, '', :style => "width:4%;" %><%= f.text_field :address_line_2, :placeholder => "Street Name", :style => "width:57.5%;" %></td>
    </tr>
    <tr class="row">
      <td>Land Mark</td>
      <td><%= f.text_field :address_line_3, :placeholder => "Land Mark" %></td>
      <td>&nbsp;&nbsp;<%= f.check_box :is_back_side_of, {}, 'Back Side', '' %>&nbsp;&nbsp;BackSide</td>
      <td style="text-align:right;">&nbsp;Area&nbsp;&nbsp;</td>
      <td><%= f.autocomplete_field :area, autocomplete_city_area_customers_path, update_elements:{area: '#customer_area', city: '#customer_city', taluk: '#customer_taluk', district: '#customer_district', state: '#customer_state', pin_code: '#customer_pin_code'}, :required => true %></td>
    </tr>
    <tr class="row">
      <td>City</td>
      <td colspan="2"><%= f.text_field :city, :style => "width:100%;" %></td>
      <td style="text-align:right;">&nbsp;Taluk&nbsp;&nbsp;</td>
      <td><%= f.text_field :taluk %></td>
    </tr>
    <tr class="row">
      <td>District</td>
      <td colspan="2"><%= f.text_field :district, :style => "width:100%;" %></td>
      <td style="text-align:right;">&nbsp;State&nbsp;&nbsp;</td>
      <td><%= f.text_field :state %></td>
    </tr>
    <tr class="row">
      <td colspan="3"></td>
      <td style="text-align:right;">Pin Code</td>
      <td><%= f.text_field :pin_code, :placeholder => "Pin Code", :required => true, :minlength=>"6", :pattern => '[0-9]{6}\b' %></td>
    </tr>
    <tr class="row">
      <td>Email</td>
      <td colspan="2"><%= f.email_field :email, :placeholder => "E-Mail", :style => "width:100%;" %></td>
      <td style="text-align:right;">&nbsp;Web Site&nbsp;&nbsp;</td>
      <td><%= f.text_field :website, :placeholder => "Web Site" %></td>
    </tr>
  </table>
  <%= f.submit :class => "btn btn-success" %>
<% end %>

<script src="/javascripts/application.js"></script>