<h1>Customers</h1>

<%= link_to 'New Customer', new_customer_path, :class =>"btn btn-primary pull-xs-right" %><br/><br/>
<p id="notice"><%= notice %></p>
<table class="table table-sm table-inverse">
  <thead>
    <tr>
      <th>Id</th>
      <th>Shop Name</th>
      <th>Name</th>
      <th>Address</th>
      <th>City & District</th>
      <th>Contact Number</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.id, customer %></td>
        <td><%= customer.shop_name %></td>
        <td><%= customer.name %></td>
        <td><%= customer.address_line %></td>
        <td><%= customer.city_and_district %></td>
        <td><%= customer.contact_number_1 %></td>
        <td><%= link_to image_tag('edit.png', :alt => 'Edit', :title => 'Edit'), edit_customer_path(customer) %>&nbsp;&nbsp;<%= link_to image_tag('cross.png', :alt => 'Delete', :title => 'Delete'), customer_path(customer), method: :delete, data: { confirm: 'Are you sure you want to delete this Customer ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>