<link rel="stylesheet" href="stylesheets/view_table.css">

<h1>Orders</h1>

<%= link_to 'New Order', new_order_path, :class =>"action-button shadow animate blue" %><br/><br/>
<p id="notice"><%= notice %></p>
<table class="responstable">
  <thead>
    <tr>
      <th>Number</th>
      <th>Customer</th>
      <th>Booking Date</th>
      <th>Vendor</th>
      <th>Status</th>
      <th style="width:20%">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.number, order %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.booking_at %></td>
        <td><%= order.vendor_name %></td>
        <td><%= order.status %></td>
        <td><%= link_to image_tag('edit.png', :alt => 'Edit', :title => 'Edit'), edit_order_path(order) %>&nbsp;&nbsp;<%= link_to image_tag('cross.png', :alt => 'Delete', :title => 'Delete'), order_path(order.id), method: :delete, data: { confirm: 'Are you sure you want to delete this Order ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>