<!DOCTYPE html>
<html>
  <head>
    <title>Narmadha</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<% if !(params[:controller] == "sessions" && params[:action] == "new") %>
      <link rel="stylesheet" href="/stylesheets/application.css">
      <link rel="stylesheet" href="/stylesheets/date_picker.css">
      <%= javascript_include_tag "date_picker" %>
  		<h1 style="text-align:center; font-size:70px; font-style:italic; font-weight: bold; font-variant: small-caps;">Narmadha Selected Labels</h1>
  		<div><%= render :partial => 'layouts/topnav' %></div>
      <div class="center"><%= yield %></div>
  	<% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
